main {
    display: flex;
    flex-direction: column;
    color: light-dark(#183447, white);
}

.LandingBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    background-color: light-dark(#ECECEC, #141414);
}

.LandingLogin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 85vh;
    min-height: 500px;
    background-color: light-dark(#ECECEC, #141414);
    box-sizing: border-box;
    padding: 40px 100px 40px 100px;
}

    .LandingLogin__title {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 20%;
        width: 40%;
        font-size: 48px;   
        position: relative;
        z-index: 1;
        order: 1;
    }

        .text_highlight {
            color: light-dark(#183447, #326283);
        }

    .LandingLogin__description {
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 40%;
        font-size: 28px;
        position: relative;
        z-index: 1;
        order: 2;
    }

        .LandingLogin__arrowsUp {
            position: absolute;
            height: 150px;
        }

    .LandingLogin__description p {
        color: light-dark(rgba(24, 52, 71, 0.58), white);
    }

    .LandingLogin__description .text_fat {
        font-weight: 800;
    }

    .LandingLogin__login {
        display: flex;
        align-items: center;
        height: 20%;
        width: 40%;
        position: relative;
        z-index: 1;
        order: 3;
    }

        .LandingLogin__arrowsLeft {
            position: absolute;
            height: 80px;
            left: 300px;
        }

    .LandingLogin__logoPansim {
        display: flex;
        align-items: center;
        color: light-dark(black, white);
        font-size: 20px;
        gap: 20px;
        height: 80px;
        width: 40%;
        user-select: none;
        position: relative;
        z-index: 1;
        order: 4;
    }

    .LandingLogin__logoPansim--xText{
        font-size: 36px;
    }

    .LandingLogin__campusImage {
        display: flex;
        width: 60%;
        height: 100%;
        user-select: none;
        position: relative;
        z-index: 1;
        order: 5;
    }

    .LandingLogin__campusImage_img {
        height: 650px;
    }
    @media (max-height: 850px){
        .LandingLogin__campusImage_img {
            height: 580px;
        }
    }
    @media (max-height: 750px){
        .LandingLogin__campusImage_img {
            height: 500px;
        }
    }
        .LandingLogin__dots0 {
            position: absolute;
            height: 100px;
            width: auto;
            left: -70px;
            top: -30px;
            z-index: -1;
        }

        .LandingLogin__dots1 {
            position: absolute;
            height: 130px;
            width: auto;
            left: 30px;
            bottom: -20px;
            z-index: -1;
        }
        
        .LandingLogin__dots2 {
            position: absolute;
            height: 130px;
            width: auto;
            left: 84%;
            bottom: -20px;
            z-index: -1;
        }

.LandingInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
    padding: 40px 0 40px 0;
    background-color: #183447;
}

    .LandingInfo__half {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-top: 40px;
        gap: 40px;
        width: 100%;
        max-height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        &:nth-of-type(1) {
            gap: 80px;
        }

    }

    .LandingInfo__questionSquare {
        height: 360px;
        width: 720px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 50px;
        text-align: center;
        color: white;
        z-index: 2;
        position: relative;
        order: 1;

    }

    .logo_background {
        position: absolute;
        height: 320px;
        min-height: 200px;
        width: auto;
        z-index: -1;
    }

    .LandingInfo__descriptionSquare {
        height: 360px;
        width: 720px;
        border-radius: 20px;   
        background-color: light-dark(#ECECEC, #141414);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 30px;
        z-index: 2;
        position: relative;
        gap: 10px;
        order: 2;
    }

    .LandingInfo__squareText1 {
        font-size: 26px;
        font-weight: 500;
    }

    .LandingInfo__squareText2 {
        font-size: 16px;
    }

    .LandingInfo__squareText3 {
    font-size: 20px;
    font-weight: 500;
    }

    .LandingInfo__descriptionSquare--bottom {
        margin-top: auto;
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .LandingInfo__descriptionSquare--bottom::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        top: -10px;
        left: 0;
    }

        .LandingInfo__descriptionSquare--bottomHalf {
            width: 50%;
            font-size: 18px;
            display: flex;
            flex-direction: column;
        }

        .LandingInfo__descriptionSquare--bottomHalf2{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10px;
            margin-top: 20px;
        }

        .LandingInfo__technologyTag {
            background-color: #0D5295;
            width: 100px;
            height: 44px;
            font-size: 18px;
        }

        .LandingLogin__dots3 {
            position: absolute;
            right: 30px;
            height: 100px;
            min-height: 50px;
            width: auto;
        }

    .LandingInfo__planSquare, .LandingInfo__mapSquare {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .LandingInfo__square--wrapper {
        display: flex;
        justify-content: center;
        height: 360px;
        width: 360px;
        border-radius: 20px;
        gap: 10px;
        background-color: light-dark(#ECECEC, #141414); 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
    }

    .LandingInfo__planSquare {
        order: 1;
    }

        .LandingInfo__circleIcon {
            height: 44px;
            width: 44px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #183447;
        }
        
        .LandingInfo__square--img {
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .LandingInfo__square--img img {
            width: 100%;
        }

    .LandingInfo__imageSquare {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 360px;
        width: 720px;
        min-height: 200px;
        min-width: 380px;
        border-radius: 20px;   
        order: 2;
    }

    .LandingInfo__imageSquare img {
        width: 100%;
    }
    
    .LandingInfo__mapSquare { 
        order: 3;
    }

.LandingNumbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    min-height: fit-content;
    box-sizing: border-box;
    background-color: light-dark(#ECECEC, #141414);
}

    .LandingNumbers--title {
        height: 100px;
        display: flex;
        align-items: center;
        font-size: 44px;
        font-weight: 600;
    }

    .LandingNumbers--bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-height: fit-content;
        height: fit-content;
        gap: 100px;
    }

    .LandingNumbers__block--bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
    }

    .LandingNumbers__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin-top: 40px;
        height: 700px;
        width: 300px;
        &:nth-of-type(2) {
        justify-content: end;
    }

    }

    .LandingNumbers__block--top {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        height: 480px;
        width: 100%;
        font-size: 100px;
        background-color: light-dark(white, #172834);
    }

    .LandingNumbers__blockBottomText1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 54px;
        font-weight: 800;
    }

    .LandingNumbers__blockBottomText2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .LandingNumbers__blockBottomText1 p, .LandingNumbers__blockBottomText2 p{
        text-align: center;
    }

    .LandingNumbers__modulesBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 360px;
        width: 100%;
        border-radius: 30px;
        background-color: #183447;
    }

    .LandingNumbers__modulesBlockTextAdjustment {
        height: 20%;
        color: white;
    }

.LandingFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 424px;
    background-color: #183447;
    box-sizing: border-box;
    padding: 0 40px 0 40px;
    }

    .LandingFooter__part1, .LandingFooter__part2, .LandingFooter__part3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
        height: 33%;
        width: 100%;
        position: relative;
    }

    .LandingFooter__contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .LandingFooter_logo_part {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .beta {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 70px;
        font-size: 14px;
        background-color: white;
        color: #183447;
        border-radius: 100px;
    }

    .LandingFooter__part3--right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .LandingFooter__separator::after {
        content: "";
        position: absolute;
        top: 0;
        background-color: white;
        height: 2px;
        width: 100%;
    }

@media (max-width: 1700px) {
    .LandingLogin__campusImage {
        height: 600px;
    }

    .LandingLogin__campusImage_img {
        height: 600px;
    }

    .LandingInfo__questionSquare, .LandingInfo__descriptionSquare, .LandingInfo__planSquare, .LandingInfo__imageSquare, .LandingInfo__mapSquare {
        height: 400px;
        padding: 20px;
    }

    .LandingInfo__questionSquare {
        width: 800px;
    }

    .LandingInfo__descriptionSquare {
        width: 800px;       
    }

    .LandingInfo__planSquare {
        width: 400px;   
        order: 1;
    }

    .LandingInfo__imageSquare {
        width: 800px;  
        order: 3;
    }

    .LandingInfo__mapSquare {
        width: 400px;
        order: 2;  
    }

    .LandingInfo__half {
        gap: 0px;
    }
}
@media (max-width: 1600px) {
    .LandingLogin__campusImage {
        height: 550px;
    }

    .LandingLogin__campusImage_img {
        height: 550px;
    }
}

@media (max-width: 1400px) {
    .LandingLogin__title{
        font-size: 44px;
    }

    .LandingLogin__description {
        font-size: 26px;
    }

    .LandingLogin__campusImage_img {
        height: 480px;
    }
}

@media (max-width: 1250px) {
    .LandingLogin {
        height: fit-content;
        min-height: fit-content;
        gap: 40px;
    }

    .LandingLogin__title, .LandingLogin__description, .LandingLogin__login, .LandingLogin__campusImage {
        width: 500px;
        justify-content: center;
        align-items: center;
    }

    .googleButton {
        height: 80px;
        width: 100%;
        padding: 20px;
    }

    .LandingLogin__campusImage {
        height: 400px;
        width: 600px;
        order: 1;
    }

    .LandingLogin__campusImage_img {
        height: 400px;
    }

    .LandingLogin__arrowsLeft {
        display: none;
    }

    .LandingNumbers--bottom {
        gap: 50px;
    }
}

@media (max-width: 1050px) {
    .LandingLogin {
        padding: 0 0 20px 0;
    }

    .LandingLogin__title, .LandingLogin__description, .LandingLogin__login, .LandingLogin__logoPansim, .LandingLogin__campusImage {
        width: auto;
    }

    .LandingLogin__login {
        width: 90%;
    }

    .LandingLogin__campusImage {
        height: 350px;
    }

    .LandingNumbers--bottom {
        flex-direction: column;
        gap: 0;
    }

    .LandingNumbers__block--top {
        width: 200px;
        height: 140px;
    }

    .LandingNumbers__block--bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 200px;
    }

    .LandingNumbers__modulesBlock {
        height: 200px;
    }

    .LandingNumbers__block {
        flex-direction: row;
        justify-content: space-between;
        width: 400px;
        height: 200px;
        margin: 0;
    }

    .LandingNumbers__block--Empety {
        display: none;
    }

    .LandingFooter {
        font-size: 14px;
    }

    .LandingFooter__contact{
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .LandingLogin__campusImage_img {
        height: 360px;
    }

    .LandingLogin__dots3 {
        display: none;
    }

    .LandingInfo__questionSquare, .LandingInfo__descriptionSquare, .LandingInfo__imageSquare, .LandingInfo__square--wrapper {
        width: 600px;
    }

    .LandingInfo__planSquare, .LandingInfo__mapSquare {
        width: 100%;
    }

    .LandingInfo__square--wrapper img {
        height: auto;
        width: 360px;
    }

    .LandingInfo__planSquare {
        order: 1;
    }

    .LandingInfo__imageSquare {
        order: 2;
        height: auto;
    }

    .LandingInfo__mapSquare {
        order: 3;  
    }
}

@media (max-width: 800px) {
    .LandingInfo__questionSquare, .LandingInfo__descriptionSquare, .LandingInfo__imageSquare, .LandingInfo__square--wrapper {
        width: 500px;
    }

    .LandingInfo__descriptionSquare--bottom p{
        font-size: 16px;
    }

    .LandingInfo__descriptionSquare--bottomHalf2 {
        margin-top: 10px;
    }

    .LandingInfo__technologyTag {
        height: 26px;
        width: 70px;
        font-size: 14px;
    }

    .LandingNumbers--title {
        font-size: 30px;
    }

    .LandingFooter {
        height: fit-content;
        padding: 10px;
    }

    .LandingFooter p {
        text-align: center;
    }

     .LandingFooter__part2, .LandingFooter__part3{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }

    .LandingFooter__part2 {
        margin-top: 20px;
    }

    .LandingFooter__contact {
        flex-direction: column;
    }

    .LandingFooter__separator{
        flex-direction: column;
        min-height: 180px;
        margin-top: 20px;
    }

    .LandingFooter__part3--right {
        flex-direction: column;
    }
}
@media (max-width: 650px) {
    .LandingLogin__campusImage {
        height: 300px;
    }

    .LandingLogin__campusImage_img {
        height: 300px;
    }

    .LandingLogin__dots0 {
        height: 80px;
    }

    .LandingLogin__dots1, .LandingLogin__dots2 {
        height: 100px;
    }

    .LandingInfo__questionSquare, .LandingInfo__descriptionSquare, .LandingInfo__imageSquare, .LandingInfo__square--wrapper {
        width: 400px;
    }

    .LandingInfo__questionSquare {
        font-size: 44px;
        height: 200px;
    }

    .LandingInfo__questionSquare img {
        height: 260px;
    }
}

@media (max-width: 500px) {
    .LandingLogin {
        gap: 0px;
    }

    .LandingLogin__title {
        font-size: 30px;
    }

    .LandingLogin__description, .LandingLogin__login, .LandingLogin__logoPansim {
        font-size: 18px;
        width: 300px;
        align-items: center;
        margin-top: 40px;
    }

    .LandingLogin__login {
        width: 80%;
    }

    .LandingLogin__logoPansim {
        font-size: 14px;
    }

    .LandingLogin__logoPansim img {
        width: 70px;
    }

    .LandingLogin__campusImage {
        height: 250px;
        width: 350px;
    }

    .LandingLogin__campusImage_img {
        height: 220px;
    }

    .LandingInfo__square--wrapper{
        justify-content: space-between;
    }

    .LandingInfo__squareText1 {
        font-size: 18px;
    }

    .LandingInfo__squareText2 {
        font-size: 13px;
    }

    .LandingInfo__half {
        margin: 0;
        gap: 0;
    }

    .LandingInfo__questionSquare, .LandingInfo__descriptionSquare, .LandingInfo__imageSquare, .LandingInfo__square--wrapper {
        width: 320px;
    }

    .LandingInfo__questionSquare {
        height: 140px;
        font-size: 36px;
    }

    .LandingInfo__questionSquare img {
        height: 140px;
    }

    .LandingInfo__imageSquare img {
        width: 320px;     
    }

    .LandingInfo__square--wrapper img {
        height: auto;
        width: 260px;
    }

    .LandingNumbers {
        height: 180px;
    }

    .LandingNumbers--title {
        width: 320px;
        font-size: 24px;
    }

    .LandingNumbers--bottom {
        width: 320px;
    }
    
    .LandingNumbers__block {
        width: 300px;
    }

    .LandingNumbers__block--top {
        width: 160px;
    }

    .LandingNumbers__block--bottom {
        width: 160px;
    }

    .LandingNumbers__modulesBlock {
        height: 160px;
    }
}