.default {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: max-content;
    border: none;
    outline: none;
    border-radius: 1000px;
    font-size: 16px;
    background-color: #183447;
    padding: 0px 8px;
    margin: 0;

    &:hover{
        cursor: pointer;
    }

}

.default svg {
    padding: 0;
    margin: 0;
    height: 28px;
    width: 28px;
}

.primary {
    height: 44px;
    width: 150px;
    font-size: 16px;
    background-color: #183447;
    border-radius: 100px;
    border: none;
    color: white;
}

.outline {
    height: 44px;
    width: 150px;
    font-size: 16px;
    background-color: White;
    border-radius: 100px;
    border: solid 1px #183447;
    color: #183447;
}

.destructive {
    height: 44px;
    width: 150px;
    font-size: 16px;
    background-color: rgba(174, 75, 73, 0.06);
    border-radius: 100px;
    border: solid 1px #AE4B49;
    color: #AE4B49;
}

.tertiary {
    height: 44px;
    width: 150px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: #183447;
    border: none;

}

.unique {
    background-color: #4F6267;
    border-radius: 100px;
    color: white;
    border: none;
}

.github {
    background-color: black;
    color: #fff;
    gap: 10px;
}

.github svg {
    color: #fff;
}

.toogleTheme {
    background-color: light-dark(#183447, #fff);
    width: 44px;
}

.toogleTheme svg {
    color: light-dark(#fff, #183447);
}