.majes_plan_lekcji {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

header {
    height: 140px;
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

    .majes_header_choose__div {
        width: 250px;
        height: 120px;
        display: flex;
        flex-direction: column;
    }

        .majes_header_choose {
            height: 75px;
            width: 250px;
            margin-top: 10px;
            border-radius: 25px;
            background-color: #183447;
            color: white;
            box-sizing: border-box;
            
        }


    .majes_header_choose_day__div {
        height: 120px;
        width: calc(100% - 810px);
    }

    .majes_header_choose_day__days {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

        .majes_header_choose_day {
            height: 75px;
            width: 75px;
            border-radius: 25px;
            background-color: #EAEAEE;
        }

main {
    height: 300px;
    width: 95%;
    background-color: rgb(76, 199, 72);
}