@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    scroll-behavior: smooth;
}

a,a:visited{
    text-decoration: none;
    color: white;
}

body{
    font-family: Poppins;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.navbar_section{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    background-color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
}


.navbar_section nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183447;
    height: 60px;
    border-radius: 20px;
    padding: 5px 10px; 
}

.navbar_button{
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
}
.navbar_button:hover{
    background-color: white;
    color: #183447;
    cursor: pointer;
}
.navbar_button--active{
    border-radius: 10px;
    background-color: white;
    color: #183447 !important;
    padding: 10px 15px;
    margin: 5px;
}

.navbar_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 60px;
    width: max-content;
    padding: 5px 15px;
}
.navbar_logo:hover{
    cursor: pointer;
    background-color: #f9f9f9;
}

.navbar_logo_icon{
    background-image: url('assets/Smart Campus - Logo --transparentne.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 57px;
    width: 50px;
    margin-right: 10px;
}

.navbar_logo_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
}

.navbar_logo_wrapper_topText{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    height: 24px;
}

.navbar_logo_wrapper_bottomText{
    font-size: 20px;
    font-weight: 400;
    color: #183447;
    height: 24px;
}