.planLekcji {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.active {
    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

header {
    height: 140px;
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header_dayChoice_container {
    height: 120px;
    width: 700px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.header_dayChoice_main {
    width: 700px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header_dayChoice_days {
    width: 622px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    overflow-x: auto;
}

.header_dayChoice_days::-webkit-scrollbar {
    height: 0;
}

.header_dayChoice {
    height: 76px;
    width: 76px;
    border-radius: 25px;
    background-color: #EAEAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-shrink: 0;
}

.header_dayChoice p:nth-of-type(2) {
    font-weight: 450;

}

main {
    height: auto;
    width: 95%;
}

.topCaption {
    height: 50px;
}

.main {
    height: 600px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    flex-wrap: wrap;

}

.main::-webkit-scrollbar {
    width: 0;
}

.lesson {
    height: 180px;
    width: 300px;
    border-radius: 20px;
    background-color: #EAEAEE;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

.lesson img {
    height: 12px;
}

.lesson_name {
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lesson_name p:nth-of-type(1) {
    font-size: 18px;
    font-weight: 500;
    height: 20px;
}

.lesson_name p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 300;
    height: 22px;
}

.lesson_timeLeft {
    height: 50px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.lesson_timeLeft img {
    height: 18px;
}

.lesson_teacher {
    height: 24px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lesson_room {
    height: 24px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lesson_room img:nth-of-type(2) {
    height: 4px;
}

.lesson_hour {
    height: 24px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}